.skills {
    width: 100%;
    height: 100vh;
    background-color: #5a2ca0ff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills_container {
    width: 90%;
    height: 90%;
    background-color: #f2f2f2ff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.skills_container > h1 {
    color: #ff6600ff;
    font-size: 50px;
    z-index: 5;
}

.skills_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skills_card {
    width: 140px;
    height: 140px;
    border: 10px solid #5a2ca0ff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.skills_card::before {
    content: '';
    position: absolute;
    width: 140px;
    height: 140px;
    background-color:#ff6600ff;
    bottom: -5;
    left: -5;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.skills_card:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.skills_card img {
    width: 90px;
    height: 90px;
    z-index: 5;
    object-fit: contain;
}

.skills_card_title {
    color: #5a2ca0ff;
    z-index: 5;
    position: relative;
    transition: transform .3s ease-in-out;
}

.skills_card:hover .skills_card_title {
    color: #f2f2f2ff;
}

/* Mobile Devices */
@media screen and (max-width: 480px) {
    .skills {
        width: 100%;
        height: 100%;
        padding-bottom: 30px;
    }

    .skills_container > h1 {
        margin: 15px 0px;
    }

    .skills_cards {
        margin-bottom: 30px;
    }
}

/* Tablette Devices */
@media screen and (max-width: 768px) {
	.skills {
        width: 100%;
        height: 100%;
        padding-bottom: 30px;
    }
    .skills_container > h1 {
        margin: 15px 0px;
    }

    .skills_cards {
        margin-bottom: 30px;
    }
}